@inherits AppStateComponentBase

<div class="file-explorer">
    <div class="file-explorer-address-bar">
        <i class="material-icons" @onclick="async () => await this.NavigateToAsync(0)">cloud</i>
        @foreach ((var folder, var index) in this.NavigationHierarchy.Select((folder, index) => (folder, index)))
        {
            // Do not use .Skip(1) since this will cause the index to become incorrect.
            @if (index > 0)
            {
                <span>&nbsp;&nbsp;/&nbsp;&nbsp;</span>
                <span class="file-explorer-address-bar-item"
                      @onclick="async () => await this.NavigateToAsync(index)">
                    @folder.Name
                </span>
            }
        }
    </div>
    <div class="file-explorer-folder-content">
        @foreach (var driveItem in this.FolderContent)
        {
            if (driveItem.Type == DriveItemType.File)
            {
                <span class="file">
                    <i class="far fa-@this.GetFileIcon(driveItem) icon"></i>
                    @driveItem.Name
                </span>
            }
            else
            {
                <span class="folder"
                      @onclick="async () => await this.NavigateDownAsync(driveItem)">
                    <i class="far fa-folder icon"></i>
                    @driveItem.Name
                </span>
            }
        }
    </div>
</div>