@inherits AppStateComponentBase

    <div class="login-display">
        @if (this.AppState.IsSignedIn)
        {
            @if (!string.IsNullOrWhiteSpace(this.AppState.GivenName))
            {
                <span>Hi, @this.AppState.GivenName!</span>
            }

            <MatButton @onclick="this.AppState.SignOutAsync">
                Sign-Out
            </MatButton>
        }
    </div>