@inherits AppStateComponentBase

    <div class="login-display">
        @if (this.AppState.IsSignedIn)
        {
            @if (!string.IsNullOrWhiteSpace(this.AppState.UserName))
            {
                <span>Hi, @this.AppState.UserName!</span>
            }

            <MatButton @onclick="this.AppState.SignOutAsync">
                Sign-Out
            </MatButton>
        }
    </div>