<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <a href="Account/SignOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="Account/SignIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>
