@inherits AppStateComponentBase

    <div class="login-display">
        @if (this.AppState.IsSignedIn)
        {
            @if (!string.IsNullOrWhiteSpace(this.AppState.UserName))
            {
                <span>Hi, @this.AppState.UserName!</span>
            }

            <button type="button" class="btn btn-link" @onclick="this.AppState.SignOutAsync">Sign-Out</button>
        }
    </div>