:root {
    --primary-color: #20bccc;
    --font-color: #cecece;
    --dialog-color: #272727;
    --error-color: #e2481a;
    --sidebar-color: #084248;
    --background-color: #1f1f1f;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: var(--font-color);
    background-color: var(--background-color);
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

    .main .top-row {
        background-color: var(--dialog-color);
        justify-content: flex-end;
    }

        .main .top-row > a {
            margin-left: 1.5rem;
        }

.sidebar {
    background-color: var(--sidebar-color);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.jumbotron {
    background-color: transparent;
}

    .jumbotron > .sign-in {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

.navbar > img {
    width: 7rem;
}

.message-log {
    display: flex;
    flex-direction: column;
    margin: 3px 0px 3px 0px;
}

hr {
    border-top: 1px solid rgb(197, 197, 197)
}

.mdc-text-field {
    background-color: transparent !important;
}

.mdc-text-field--disabled {
    border-bottom-color: var(--background-color) !important;
}

    .mdc-text-field--disabled .mdc-text-field__input {
        border-bottom-color: var(--background-color) !important;
    }

.mdc-text-field__icon {
    color: var(--font-color) !important;
}

.mdc-floating-label {
    color: var(--font-color) !important;
}

.mat-text-field-input {
    color: var(--font-color) !important;
}

    .mat-text-field-input.invalid {
        border-bottom: 1px solid var(--error-color) !important;
    }

    .mat-text-field-input.valid.modified {
        border-bottom: 1px solid var(--primary-color) !important;
    }

    .mat-text-field-input.valid.modified:not([type=checkbox]) {
        outline: none;
    }

.mdc-select__anchor {
    background-color: transparent !important;
}

.mdc-select__menu {
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.mdc-select__selected-text {
    color: var(--font-color) !important;
}

.mdc-list-item--selected {
    color: var(--primary-color) !important;
}

.mdc-menu .mdc-list {
    color: var(--font-color) !important;
}

.mdc-dialog__surface {
    background-color: var(--dialog-color) !important;
}

.mdc-dialog__title {
    color: var(--font-color) !important;
}

.mdc-dialog__content {
    color: var(--font-color) !important;
}

.mdc-tab__text-label {
    color: var(--font-color) !important
}

.sync-folder-pair {
    display: flex;
    flex-direction: column;
}

.sync-folder-pair-item {
    margin: 10px 0px 10px 0px;
}

.content .mat-tab-group {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content .mat-tab-group-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content .mdc-tab {
    text-transform: inherit;
    font-size: 1.1rem;
}

.content .mdc-tab i {
    font-size: 1.5rem;
    position: relative;
    top: 0.4rem;
    color: rgba(255, 255, 255, 0.1);
}

    .content .mdc-tab:hover i {
        color: rgba(255, 255, 255, 0.5);
    }

.sync-account {
    display: flex;
    flex-direction: column;
    flex: 1;
}

    .sync-account .no-sync-folder-pair {
        display: flex;
        justify-content: center;
        flex: 1;
        align-items: center;
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.2);
        text-transform: uppercase;
    }

    .sync-account > .controls {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        height: 4rem;
    }

.sync-folder-pairs-box {
    display: flex;
    flex-direction: column;
    flex: 1;
}

    .sync-folder-pairs-box h6 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

.sync-folder-pairs {
    display: flex;
    flex-wrap: wrap;
}

.sync-folder-pair {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--primary-color);
    margin: 1em;
}

    .sync-folder-pair:hover {
        background: rgba(0, 0, 0, 0.2)
    }

.sync-folder-pair-controls {
    display: flex;
    flex-direction: row;
}

.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

    .icon-button:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .icon-button i {
        font-size: 2rem;
        color: var(--primary-color);
    }

.validation-message {
    color: var(--error-color);
}

.file-explorer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.file-explorer-address-bar {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

    .file-explorer-address-bar > i {
        cursor: pointer;
        margin-left: 0.2em;
    }

        .file-explorer-address-bar > i:hover {
            border-bottom: 1px solid var(--primary-color);
        }

.file-explorer-address-bar-item {
    cursor: pointer;
}

    .file-explorer-address-bar-item:hover {
        border-bottom: 1px solid var(--primary-color);
    }

.file-explorer-folder-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.20);
}

.file-explorer-folder-content .icon {
    width: 1.5rem !important;
}

.file-explorer-folder-content .file {
    margin: 4px 0px 4px 0px;
    padding: 3px 5px 3px 5px;
}

.file-explorer-folder-content .file:hover {
    background-color: rgba(0, 0, 0, 0.20)
}

.file-explorer-folder-content .folder {
    cursor: pointer;
    padding: 3px 5px 3px 5px;
    margin: 4px 0px 4px 0px;
}

    .file-explorer-folder-content .folder:hover {
        background-color: rgba(0, 0, 0, 0.20)
    }

.restore-settings {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.restore-settings > div {
    margin: 10px 0px 10px 0px;
}

.restore-message {
    font-size: 0.9rem;
    margin: 4px 0 4px 0;
}

.restore-warning {
    margin-top: 1rem;
}

    .restore-warning .text {
        color: var(--error-color);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

        .restore-warning .text > span {
            position: relative;
            top: -0.15em;
        }

    .restore-warning .link > a {
        color: var(--font-color);
        font-size: 0.9rem;
    }

.drive-provider {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 15px 0 15px 0;
    background-color: rgba(0, 0, 0, 0.20);
    font-size: 1.5rem;
    cursor: pointer;
    justify-content: center;
}

    .drive-provider:hover {
        background-color: rgba(32, 188, 204, 0.20);
    }

    .drive-provider > .icon {
        width: 2rem !important;
        position: relative;
        top: 0.3rem;
    }

    .drive-provider > .description {
        margin: 4px 0px 4px 0px;
        padding: 3px 5px 3px 5px;
    }