@page "/"

@inherits AppStateComponentBase

<div>
    @if (this.AppState.IsSignedIn)
    {
        <h3>Sync Folders</h3>

        @if (this.AppState.Config.SyncFolderPairs.Any())
        {
            <ul class="list-group">
                @foreach (var syncFolderPair in this.AppState.Config.SyncFolderPairs)
                {
                    <li class="list-group-item mb-4">
                        <div class="sync-folder-pair">
                            <MatTextField Label="Local Drive"
                                          PlaceHolder="e.g. C:\Users\CryptoBot\Documents"
                                          Icon="folder_shared"
                                          @bind-Value="syncFolderPair.Local"
                                          @onchange="this.AppState.SaveConfig">
                            </MatTextField>

                            <MatTextField Label="Cloud Drive"
                                          PlaceHolder="e.g. /documents"
                                          Icon="cloud"
                                          @bind-Value="syncFolderPair.Remote"
                                          @onchange="this.AppState.SaveConfig">
                            </MatTextField>
                        </div>

                        <MatIconButton Icon="delete"
                                   @onclick="() => this.AppState.InitializeRemoveSyncFolderDialog(syncFolderPair)">
                        </MatIconButton>
                    </li>
                }
            </ul>
        }
        else
        {
            <div class="no-sync-folder-pairs">
                I couldn't find any sync folder pairs. Simply add new one to get started (only one-way sync is supported).
            </div>
        }

        <MatButton Icon="create_new_folder" 
                   @onclick="this.AppState.AddSyncFolderPair">
        </MatButton>

        @if (!this.AppState.Config.IsSyncEnabled)
        {
            <MatButton @onclick="this.AppState.StartSync">
                <i class="fas fa-sync"></i>&nbsp; Start
            </MatButton>
        }
        else
        {
            <MatButton @onclick="async () => await this.AppState.StopSyncAsync()">
                <i class="fas fa-sync"></i>&nbsp; Stop
            </MatButton>
        }

        <div class="message-log">
            @foreach (var message in this.AppState.MessageLog)
            {
                <span>@message</span>
            }
        </div>
    }
    else
    {
        <div class="jumbotron">
            <h1 class="display-4">Hello, Human!</h1>
            <p class="lead">Here is your Crypto Drive speaking. Together we are able to safely backup your data without the need to trust anyone but you (and me)!</p>
            <hr class="my-4">
            <p>Sign-in to your Microsoft account to start your encrypted backup. You will get asked for some permissions to allow me to up- and download your files automatically.</p>

            <div class="sign-in">
                <MatButton @onclick="this.AppState.SignInAsync">
                    <i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;&nbsp;Sign In
                </MatButton>
            </div>
        </div>
    }
</div>

<MatDialog @bind-IsOpen="@this.AppState.ShowSyncFolderDeleteDialog">
    <MatDialogTitle>Hello, Human!</MatDialogTitle>
    <MatDialogContent>
        <p>Do you want me to stop syncing this folder pair?</p>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => { this.AppState.ShowSyncFolderDeleteDialog = false; })">No Thanks</MatButton>
        <MatButton OnClick="@this.AppState.RemoveSyncFolderPair">Do as I command!</MatButton>
    </MatDialogActions>
</MatDialog>