@page "/logs"

@inherits AppStateComponentBase

<MatHeadline6>Logs</MatHeadline6>

<MatSelectItem @bind-Value="@this.AppState.LogLevel"
               Items="@this.LogLevels">
    <ItemTemplate Context="value">
        @Utilities.GetEnumLocalization(@value)
    </ItemTemplate>
</MatSelectItem>

<div class="message-log">
    @foreach (var message in this.AppState.MessageLog)
    {
        <span>@message</span>
    }
</div>