@page "/logs"

@inherits AppStateComponentBase

<MatHeadline4>Logs</MatHeadline4>

<MatSelectItem @bind-Value="@this.AppState.LogLevel"
               Items="@this.LogLevelValues">
    <ItemTemplate Context="value">
        @Utilities.GetEnumLocalization(@value)
    </ItemTemplate>
</MatSelectItem>

<div class="message-log">
    @foreach (var message in this.AppState.MessageLog)
    {
        <span>@message</span>
    }
</div>